img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
::-webkit-scrollbar{
    scrollbar-width: none;
}
.container{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    margin-right: 15em;
}
.signUp-form{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 25em;
    height: 50vh;
    border: 2px solid white;
    border-radius: 1em;
    color: white;
    backdrop-filter: blur(30px);
}
.form-group{
    margin-top: 4em;
}
.some-text{
    margin-top: 14em;
    float: left;
}
h1{
    color: white;
    margin-left: 3.5em;
}
h4{
    color: white;
    width: 25em;
    margin-left: 7em;
}